[run]
source = tco_app
omit =
    */tests/*
    */ui/pages/*  # UI pages tested separately
    */plotters/*  # Visual components tested manually
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    
precision = 2
show_missing = True

[html]
directory = htmlcov 